
@{
    ViewBag.Title = "Admin";
}

<h2 align="center">Панель администратора</h2>

<div class="container">

    <div class="row">
        <div class="col-md-6">
                @using (Ajax.BeginForm("AddCard", "Home", new AjaxOptions { UpdateTargetId = "cards-table-holder-admin" }))
                {
                    <h3>Добавить карту</h3>
                    <div class="form-group">
                        <label for="cardNumber">Введите номер карты:</label>
                        <div>
                        <input type="number" name="cardNumber" class="form-control" id="card-number-holder" style="display:inline">
                        <input class="btn btn-primary" id="add-card-btn" type="submit" value="Добавить" style="display:inline">
                        </div>
                        <div style="color:red" id="add-card-error-msg-holder"></div>
                    </div>
                }
        </div>

        <div class="col-md-6">
            @using (Ajax.BeginForm("AddValidator", "Home", new AjaxOptions { UpdateTargetId = "validators-table-holder-admin" }))
            {
                <h3>Добавить валидатор</h3>
                    <div class="form-group">
                        <label for="validatorNumber">Введите номер валидатора:</label>
                        <div>
                            <input type="number" name="validatorNumber" class="form-control" id="validator-number-holder" style="display:inline">
                            <input class="btn btn-primary" id="add-validator-btn" type="submit" value="Добавить" style="display:inline">
                        </div>
                    </div>
                    <div style="color:red" id="add-validator-error-msg-holder"></div>
            }
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <h3>Список карт</h3>
            <div id="cards-table-holder-admin">
                @Html.Partial("AdminCardTableView")
            </div>
        </div>

        <div class="col-md-6">
            <h3>Список валидаторов</h3>
            <div id="validators-table-holder-admin">
                @Html.Partial("AdminValidatorTableView")
            </div>
        </div>
    </div>
</div>