@model List<Card>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3><strong>Список карт:</strong></h3>
</div>

<div style="width: 400px" id="cards-table-holder">
    @Html.Partial("CardTableView", Model)
</div>

<div id="balance-form-holder">

    <h4><strong>Пополнить баланс</strong></h4>

    @using (Ajax.BeginForm("AddCurrency", "Home", new AjaxOptions { UpdateTargetId = "cards-table-holder", OnSuccess = "onSuccesSendingForm()", OnBegin = "return validateForm()" }))
    {
        <div class="form-group">
            <input name="amount" class="form-control" type="number" autocomplete="off" id="amount-value-input">
        </div>
            <input type="submit" class="btn btn-primary" value="Пополнить">
            <input name="cardId" type="hidden" value="" />
            <input type="button"class="btn btn-warning" value="Отмена" onclick="document.getElementById('amount-value-input').value=''" />
    }

    <div class="alert-danger" id="display-error-message"></div>
</div>