body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content{
    padding-right: 40px;
    padding-left: 40px;
}

#display-error-message{
    margin-top:10px;
    width: 200px;
    padding: 10px;
}
#cards-table-holder{
    font-size: 16px;
}
nav li a{
    color: #ffffff;
    font-size: 18px;
}
.card-number-item{
    width: 40px;
}
.card-number-item:hover{
    background-color: #808080;
}
.card-pick-column{
    float:left;
}
#table-empty-message-holder{
    font-size: 24px;
    padding: 5px;
}
#add-card-error-msg-holder{
    margin: 10px;
    font-size:20px;
}
#add-validator-error-msg-holder{
    margin: 10px;
    font-size:20px;
}